**/target
build
**/rustc-ice-*
**/.gdb_history
kconfig
rootfsconfig*
/etc
/conf/.selection.toml
disk.img
.DS_Store
rootfs*.img
.envrc.local
sdcard*.img
*.bak
.venv
Dockerfile_*
rcopy.sh
local_docker.toml
LOCAL.md
.codex
**/__pycache__
