**/target
build
**/rustc-ice-*
**/.gdb_history
kconfig
rootfsconfig*
/etc
disk.img
disk-la.img
.DS_Store
rootfs*.img
.envrc.local
sdcard*.img
*.bak
.venv
rootfs-rv*
rootfs-la*
la-base
rv-base
Dockerfile_*
rcopy.sh
sdcard-*
/issues
kernel-la
kernel-rv
LOCAL.md
.codex
kernel-*
disk*.img
log-fetch*
**/__pycache__