**/target
build
**/rustc-ice-*
**/.gdb_history
kconfig
rootfsconfig*
/etc
disk.img
.DS_Store
rootfs*.img
.envrc.local
sdcard*.img
*.bak
.venv
Dockerfile_*
rcopy.sh
local_docker.toml
LOCAL.md
.devcontainer/local/
.codex
**/__pycache__
containers
kernel-*