[submodule "anemone-abi"]
	path = anemone-abi
	url = git@github.com:anemone-os/abi.git
[submodule "anemone-kernel"]
	path = anemone-kernel
	url = git@github.com:anemone-os/kernel.git
[submodule "anemone-book"]
	path = anemone-book
	url = git@github.com:anemone-os/book.git
[submodule "anemone-rs"]
	path = anemone-rs
	url = git@github.com:anemone-os/anemone-rs.git
[submodule "anemone-libc"]
	path = anemone-libc
	url = git@github.com:anemone-os/anemone-libc.git
[submodule "anemone-loader"]
	path = anemone-loader
	url = git@github.com:anemone-os/loader.git
