#! kconfig configuration for Anemone OS
#! This file specifies how the kernel is configured and built.
#! This is an example configuration file.

# This section specifies how to build kernel
[build]
platform = "qemu-virt-rv64" # Target platform. The same name as in conf/platforms/*.toml
profile = "dev" # Build profile: "dev" or "release". We may add more profiles later.

disasm = true # Whether to generate a disassembly file for kernel.

# Kernel tailoring options
[features]
kunit = true # Enable KUnit testing
# fs_ext4 = true # Enable ext4 filesystem support
# virtio_gpu = true # Enable Virtio GPU support
# smp = true # Enable Symmetric Multiprocessing support
# intr_stack = true # Enable Interrupt Stack support

# Parameters for kernel and loader
[parameters]
bootstrap_heap_shift_kb = 10 # Size of bootstrap heap as a power of 2 in KB
log_buffer_shift_kb = 9 # Log buffer size as a power of 2 in KB, excluding metadata overhead
log_record_shift_bytes = 9 # Log record size as a power of 2 in bytes
kstack_shift_kb = 5 # Kernel stack size as a power of 2 in KB
remap_shift_gb = 6 # Size of remap region as a power of 2 in GB
max_ident_len_bytes = 256 # Maximum length of identity strings in bytes.
max_processes = 128 # Maximum number of processes
time_slice_ms = 10 # Time slice duration in milliseconds
system_hz = 100 # System timer frequency in hertz, i.e. number of timer interrupts per second
